.full-scroll-component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-scroll-item-component {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.full-scroll-item-component-on-top {
    top: -100%;
    z-index: 3;
  }
  &.full-scroll-item-component-on-bottom {
    top: 100%;
    z-index: 3;
  }
  &.full-scroll-item-component-on-left {
    left: -100%;
    z-index: 3;
  }
  &.full-scroll-item-component-on-right {
    left: 100%;
    z-index: 3;
  }
  &.full-scroll-item-component-active {
    z-index: 2;
  }
  &.full-scroll-item-component-hide {
    visibility: hidden;
  }
}